{% extends 'account/base.html' %}

{% block content %}

<div style="padding: 40px;">
    <a href="{% url 'landing' %}">Back to Home</a>
</div>
<div>
    <form method="POST" style="margin: 150px;">
        {% csrf_token %}
        <h1>Sign Up</h1>
        {{ form.as_p }}
        <input type="submit" value="Sign In"/>
    </form>
    <form style="margin-bottom: 50px; margin-top: 50px; ">
        Need to sign up instead?
        <a href="{% url 'account_login' %}" style="margin: auto; margin-top: 30px;">Sign up.</a>
    </form>
</div>
{% endblock content%}