#action-button {
  border: none;
  background-color: transparent;
  box-shadow: none;
}

#trade-container {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: 1fr 1fr 1fr ;
  height: 90vh;
  margin: 20px;
}

#continue-negotiations-child {
  overflow: scroll;
}

#start-negotiations-child {
  overflow: scroll;
}

#completed-trades-child {
  overflow: scroll;
}

#search-container {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: 1fr 1fr;
  height: 90vh;
  margin: 20px;
}

#post-results-child {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-left: 3px;
  margin-bottom: 3px;
  overflow: scroll;
}

#comment-results-child {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-right: 3px;
  margin-bottom: 3px;
  overflow: scroll;
}

#trade-room-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 90vh;
  margin: 10px;
}

#trader-one-container {
  overflow: scroll;
}

#trader-two-container {
  overflow: scroll;
}

#trade-details-container {
  overflow: scroll;
}

#detail-container {
  display: grid;
  padding: 20px;
  gap: 1.5rem;
  grid-template-columns: 2fr 1fr;
  height: 90vh;
  margin-top: 30px;
}

#detail-container #post-detail {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-right: 3px;
  margin-bottom: 3px;
  overflow: scroll;
}

#detail-container #comment-detail {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-right: 3px;
  margin-bottom: 3px;
  overflow: scroll;
}

.chat-container {
  display: flex;
  height: 100vh;
  width: 100vw;
  margin: 10px;
}

.chatlist {
  height: 100vh;
  width: 300px;
}

.chat {
  background-color: #ece5dd;
  width: 70vw;
  height: 80vh;
  overflow: scroll;
}

#message1 {
  text-align: left;
  padding-left: 2%;
  margin: 15px;
  margin-right: auto;
  margin-left: 2%;
  font-size: small;
  background-color: lightgreen;
  height: max-content;
  max-width: 20rem;
  border-radius: 3%;
}

#message1 > .sender1 {
  font-size: small;
}

#message1 > .body1 {
  font-size: larger;
  word-wrap: break-word;
}

#message1 > .date1 {
  font-size: small;
}

#message2 {
  text-align: right;
  padding-right: 2%;
  margin: 15px;
  margin-left: auto;
  margin-right: 2%;
  font-size: small;
  background-color: white;
  height: max-content;
  max-width: 20rem;
  border-radius: 3%;
}

#message2 > .sender2 {
  font-size: small;
}

#message2 > .body2 {
  font-size: larger;
  word-wrap: break-word;
}

#message2 > .date2 {
  font-size: small;
}

.send-message {
  height: 20vh;
}

.chat-container {
  display: flex;
  height: 100vh;
  width: 100vw;
  margin: 10px;
}

.chatlist {
  height: 100vh;
  width: 300px;
}

.chat {
  background-color: #ece5dd;
  width: 70vw;
  height: 80vh;
  overflow: scroll;
}

#message1 {
  text-align: left;
  padding-left: 2%;
  margin: 15px;
  margin-right: auto;
  margin-left: 2%;
  font-size: small;
  background-color: lightgreen;
  height: max-content;
  max-width: 20rem;
  border-radius: 3%;
}

#message1 > .sender1 {
  font-size: small;
  padding-top: 2%;
}

#message1 > .body1 {
  font-size: larger;
  word-wrap: break-word;
}

#message1 > .date1 {
  font-size: small;
  padding-bottom: 2%;
}

#message2 {
  text-align: right;
  padding-right: 2%;
  margin: 15px;
  margin-left: auto;
  margin-right: 2%;
  font-size: small;
  background-color: white;
  height: max-content;
  max-width: 20rem;
  border-radius: 3%;
}

#message2 > .sender2 {
  font-size: small;
  padding-top: 2%;
}

#message2 > .body2 {
  font-size: larger;
  word-wrap: break-word;
}

#message2 > .date2 {
  font-size: small;
  padding-bottom: 2%;
}

#feed-container {
  display: grid;
  gap: 1.5rem;
  grid-template-columns:1fr 1fr;
  height: 90vh;
  max-width: 90vw;
}

#full-post-child {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-left: 3px;
  margin-bottom: 3px;
  overflow: scroll;
}

#full-post-child h4 {
  background-color: lightskyblue;
}

#full-post-child #user-post {
  background-color: #cee0d7;
}

#full-post-child #non-user-post {
  background-color: #f2dec4;
}

#summary-post-child {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-right: 3px;
  margin-bottom: 3px;
  overflow: scroll;
}

#summary-post-child #pinned-posts h4 {
  background-color: salmon;
}

#summary-post-child #other-posts h4 {
  background-color: khaki;
}

#post-topline {
  margin-left: 10px;
}

#post-data {
  margin-left: 20px;
}

#profile-container {
  display: grid;
  padding: 20px;
  gap: 1.5rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: .25fr 2fr;
  height: 90vh;
  margin-top: 10px;
}

#profile-data {
  margin-left: 40px;
}

#profile-data #profile-pic img {
  margin-top: 20px;
  height: 150px;
  width: 150px;
}

#profile-data #profile-pic i {
  margin-top: 20px;
  height: 150px;
  width: 150px;
}

#team-posts {
  height: 90vh;
  overflow: scroll;
}

#team-picks {
  height: 90vh;
  overflow: scroll;
}

#post-data {
  margin-left: 20px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background: #f5f5f5;
}

.board_container {
  max-width: 1000px;
  /* margin: 100px auto; */
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(12,1fr);
  column-gap: 5px;
}

.column_container {
  display: grid;
  grid-template-columns: repeat(1,1fr);
}

.row_container {
    display: grid;
    grid-template-rows: repeat(15,1fr);
}
.team_item {
    background-color: slateblue;
    color: #ffff;
    font-size: 20px;
    padding: 20px;
    border: skyblue 1px solid;
    height: 150px;
    width: 150px;
    text-align:center;
    height:200px;
    border-radius: 10%;
}

.team_item > img {
  display: flex;
  justify-content: center;
}

.pick_item {
    background-color: steelblue;
    color: #ffff;
    font-size: 15px;
    padding: 3px;
    height: 100px;
    width: 150px;
    border: skyblue 1px solid;
    box-shadow: black;
}

#post-topline {
  margin-left: 10px;
}

#post-data {
  margin-left: 20px;
}

h4 {
  padding: 5px;
  border-radius: 25px;
}

i {
  color: #333;
  margin-right: 10px;
  margin-left: 5px;
}

img {
  margin-right: 10px;
}

a * {
  text-decoration: none;
}

body {
  margin: 0;
  border: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background: #f5f5f5;
}

.container {
  width: 80%;
  padding: 20px;
  margin: 40px auto;
}

table {
  width: 100%;
}

table td,
table th {
  padding: 5px 8px;
  text-align: left;
}

table thead {
  border-bottom: 2px solid #eceeef;
}
