{% if request.user.is_authenticated %}
    {% load custom_tags %}

    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

      <!-- Sidebar Toggle (Topbar) -->
      <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
        <i class="fa fa-bars"></i>
      </button>

      <!-- Topbar Search -->
      <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search" method="GET" action="{% url 'post-search' %}">
        <div class="input-group">

          <input type="text" onfocus="this.value=''" class="form-control bg-light border-0 small" placeholder="Search posts & comments..." aria-label="Search" aria-describedby="basic-addon2" name="query" value="{{ request.GET.query }}">
          <div class="input-group-append">
            <button class="btn btn-primary" type="submit">
              <i class="fas fa-search fa-sm"></i>
            </button>
          </div>
        </div>
      </form>

      <!-- Topbar Navbar -->
      <ul class="navbar-nav ml-auto">

        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
        <li class="nav-item dropdown no-arrow d-sm-none">
          <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-search fa-fw"></i>
          </a>
          <!-- Dropdown - Messages -->
          <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
            <form class="form-inline mr-auto w-100 navbar-search" action="">
              <div class="input-group">
                <input name="search" type="text" class="form-control bg-light border-0 small" placeholder="Search for posts and comments" aria-label="Search" aria-describedby="basic-addon2">
                <div class="input-group-append">


                  <button class="btn btn-primary" type="submit">
                    <i class="fas fa-search fa-sm"></i>
                  </button>
                </div>
              </div>
            </form>
          </div>
        </li>

        <!-- Nav Item - Alerts -->
        <li class="nav-item dropdown no-arrow mx-1">
          <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <!-- Counter - Alerts -->
            {% show_notifications %}
          </a>
        </li>


        <div class="topbar-divider d-none d-sm-block"></div>

        <!-- Nav Item - User Information -->
        <li class="nav-item dropdown no-arrow">

          <a class="nav-link dropdown-toggle" href="{% url 'profile' request.user.pk %}">
            <span class="mr-2 d-none d-lg-inline text-gray-600 small">@{{ request.user }}</span>
            <img class="img-profile rounded-circle" src="{{ request.user.profile.picture.url }}" height="30px" width="30px"/>
          </a>

        </li>
      </ul>
    </nav>


{% else %}



{% endif %}