{% load static %}

{% block title %}Home{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'app.css' %}" type="text/css">
{% endblock css %}

<link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap CSS -->

  <script src="https://kit.fontawesome.com/3154cd73db.js" crossorigin="anonymous"></script>
  <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
  <title>NWOAFFL</title>
</head>
<body>
  {% block content%}

  {% endblock content%}

  <script type="text/javascript" src="{% static 'js/social.js' %}"></script>
</body>
</html>