{% extends 'app/main.html' %}

{% block content %}

<style>
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background: #f5f5f5;
}

.board_container {
  max-width: 1000px;
  /* margin: 100px auto; */
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(12,1fr);
  column-gap: 5px;
}

.column_container {
  display: grid;
  grid-template-columns: repeat(1,1fr);
}

.row_container {
    display: grid;
    grid-template-rows: repeat(15,1fr);
}
.team_item {
    background-color: slateblue;
    color: #ffff;
    font-size: 20px;
    padding: 20px;
    border: skyblue 1px solid;
    height: 150px;
    width: 150px;
    text-align:center;
    height:200px;
    border-radius: 10%;
}

.team_item > img {
  display: flex;
  justify-content: center;
}

.pick_item {
    background-color: steelblue;
    color: #ffff;
    font-size: 15px;
    padding: 3px;
    height: 100px;
    width: 150px;
    border: skyblue 1px solid;
    box-shadow: black;
}

</style>

<body>
  <div style="text-align: center;margin-top: 100px;"><h3><strong>2022 NWOAFFL Draftboard</strong></h3></div>
  <div class="board_container">
  {% for owner in owners %}
  {% if not owner.user.is_superuser%}
  <div class="column_container">
    <div class="team_item">
        <form method="GET" action="{% url 'profile' owner.pk%}">
          <button type="submit" class="btn btn secondary">
              <img src="{{ owner.picture.url }}" class="rounded-circle" width="50" height="50"/>
          </button>
        </form>
        {{owner.teamname}}
    </div>
    <div class="row_container">
      {% for pick in picks %}
      {% if pick.original_owner == owner.user and pick.year == 2022 %}
        <div class="pick_item">
        {{pick.round}}.{{pick.pick}}
        {% if pick.original_owner != pick.owner %}
          <div><strong style="color: yellow;">{{pick.owner.profile.teamname}}</strong></div>
        {% endif %}
        </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>
  {% endif %}
  {% endfor %}
</body>

{% endblock content %}