{% extends 'app/main.html' %}

{% block content %}

<style>
  .board_container {
    min-width: 100%;
    max-height: 70vh;
    overflow: scroll;
  }
</style>

<body>
  <div class="board_container">
  {% for owner in owners %}
  {% if not owner.user.is_superuser%}
  <div class="column_container">
    <div class="team_item">
      <a class="collapse-item" href="{% url 'profile' owner.user.pk %}" style="font-size: large;"><img src="{{ owner.picture.url }}" class="rounded-circle" height="50" width="50"/></a>
        {{owner.teamname}}
    </div>
    <div id="owner-row" class="row_container">
      {% for pick in picks %}
      {% if pick.original_owner == owner.user and pick.year == 2022 %}
        <div class="pick_item">
        {{pick.round}}.{{pick.pick}}
        {% if pick.original_owner != pick.owner %}
          <div><strong style="color: yellow;">{{pick.owner.profile.teamname}}</strong></div>
        {% endif %}
        </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>
  {% endif %}
  {% endfor %}
</body>

{% endblock content %}