{% extends 'app/main.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

<div id="feed-container">
    <div id="full-post-child">
        <div><h4><i class="fa-solid fa-rss"></i>Posts</h4></div>

        <form class="mt-5" method="POST">
            {% csrf_token %}
            {{ form | crispy }}
            <div class="d-grid 2">
                <button class="btn btn-success mt-1 mb-3">Submit</button>
            </div>
            <input type="hidden" name="next" value="{{next}}">
        </form>

        {% if feed.count > 10 %}
        <nav aria-label="Page navigation example">
            <ul class="pagination mt-3">
              <li class="page-item"><a class="page-link" href="{% url 'home' %}?page=1">First</a></li>
              {% if feed.has_previous %}
              <li class="page-item"><a class="page-link" href="{% url 'home' %}?page={{ feed.previous_page_number }}">Previous</a></li>
              {% else %}
              <li class="page-item"><a class="page-link" href="{% url 'home' %}?page=1">Previous</a></li>
              {% endif %}
              <li class="page-item disabled"><a class="page-link" href="#">{{feed.number}} of {{last_page}}</a></li>
              {% if feed.has_next %}
              <li class="page-item"><a class="page-link" href="{% url 'home' %}?page={{ feed.next_page_number }}">Next</a></li>
              {% else %}
              <li class="page-item"><a class="page-link" href="{% url 'home' %}?page={{ last_page }}">Next</a></li>
              {% endif %}
              <li class="page-item"><a class="page-link" href="{% url 'home' %}?page={{ last_page }}">Last</a></li>
            </ul>
        </nav>
        {% endif %}


        {% for post in feed %}
        <div class="border-bottom" id="post">
            {% if request.user == post.author %}
                <div id="post-topline"><p id="user-post"><a class="text-primary" href="{% url 'profile' post.author.pk %}">@{{ post.author }}</a> {{ post.created_on }}</p></div>
            {% else %}
                <div id="post-topline"><p id="non-user-post"><a class="text-primary" href="{% url 'profile' post.author.pk %}">@{{ post.author }}</a> {{ post.created_on }}</p></div>
            {% endif %}
            <div id="post-data" class="position-relative">
                <h3>{{ post.title }}</h3>
                <a href="{% url 'post-detail' post.pk %}" class="stretched-link"></a>
            </div>
            <div id="post-data" class="position-relative">
                <p>{{ post.body|linebreaks }}</p>
                <a href="{% url 'post-detail' post.pk %}" class="stretched-link"></a>
            </div>

            <div class="d-flex flex-row">
                <form method="POST" action="{% url 'like' post.pk %}">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ request.path }}">
                    <button id="action-button" type="submit">
                        <p><i class="far fa-thumbs-up"><span></span></i>{{ post.likes.all.count }}</p>
                    </button>
                </form>

                <form method="POST" action="{% url 'dislike' post.pk %}">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ request.path }}">
                    <button id="action-button" type="submit">
                        <p><i class="far fa-thumbs-down"><span></span></i>{{ post.dislikes.all.count }}</p>
                    </button>
                </form>

                {% if user.is_superuser %}
                <form method="POST" action="{% url 'post-pin' post.pk %}">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ request.path }}">
                    <button id="action-button" type="submit">
                        <i class="fa-solid fa-thumbtack"></i>
                    </button>
                </form>
                {% endif %}
            </div>
        </div>
        {% endfor %}

        {% if feed.count > 10 %}
        <nav aria-label="Page navigation example">
            <ul class="pagination mt-3">
              <li class="page-item"><a class="page-link" href="{% url 'home' %}?page=1">First</a></li>
              {% if feed.has_previous %}
              <li class="page-item"><a class="page-link" href="{% url 'home' %}?page={{ feed.previous_page_number }}">Previous</a></li>
              {% else %}
              <li class="page-item"><a class="page-link" href="{% url 'home' %}?page=1">Previous</a></li>
              {% endif %}
              <li class="page-item disabled"><a class="page-link" href="#">{{feed.number}} of {{last_page}}</a></li>
              {% if feed.has_next %}
              <li class="page-item"><a class="page-link" href="{% url 'home' %}?page={{ feed.next_page_number }}">Next</a></li>
              {% else %}
              <li class="page-item"><a class="page-link" href="{% url 'home' %}?page={{ last_page }}">Next</a></li>
              {% endif %}
              <li class="page-item"><a class="page-link" href="{% url 'home' %}?page={{ last_page }}">Last</a></li>
            </ul>
        </nav>
        {% endif %}
        
    </div>

    <div id="summary-post-child">
        <div id="pinned-posts"><h4><i class="fa-solid fa-thumbtack fa-fw"></i>Pinned posts</h4></div>
        {% for post in all %}
            {% if post.pinned %}
                <form method="POST" action="{% url 'post-pin' post.pk %}">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ request.path }}"/>
                    <button id="action-button" type="submit">
                        <i class="fa-solid fa-thumbtack"></i>
                    </button>
                </form>
                <div id="post-topline" class="d-flex flex-row">
                    {% if user.is_superuser %}
                    {% endif %}
                    <a class="text-primary" href="{% url 'profile' post.author.pk %}">@{{ post.author }}</a> {{ post.created_on }}
                </div>
                <div class="position-relative border-bottom">
                    <p id="post-data"><strong>{{ post.title }}</strong></p>
                    <div id="post-data"><p>{{ post.body | linebreaks |  truncatechars:55}}</p></div>
                    <a href="{% url 'post-detail' post.pk %}" class="stretched-link"></a>
                </div>
            {% endif %}
        {% endfor %}
        <div id="other-posts"><h4><i class="fa-solid fa-file-pen fa-fw"></i>Other posts</h4></div>
        {% for post in all %}
            {% if not post.pinned %}
            <div id="post-topline">
                {% if user.is_superuser %}
                    <form method="POST" action="{% url 'post-pin' post.pk %}">
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ request.path }}"/>
                        <button id="action-button" type="submit">
                            <i class="fa-solid fa-thumbtack"></i>
                        </button>
                    </form>
                {% endif %}
                <a class="text-primary" href="{% url 'profile' post.author.pk %}">@{{ post.author }}</a> {{ post.created_on }}
            </div>
            <div class="position-relative border-bottom">
                <p id="post-data"><strong>{{ post.title }}</strong></p>
                <div id="post-data"><p>{{ post.body | linebreaks |  truncatechars:30}}</p></div>
                <a href="{% url 'post-detail' post.pk %}" class="stretched-link"></a>
            </div>
            {% endif %}
        {% endfor %}
    </div>

</div>

{% endblock content %}