{% extends 'app/main.html' %}
{% load crispy_forms_tags %}
{% block content %}

<style>
body {
            background-color: #eeeeee;
        }

        .h7 {
            font-size: 0.8rem;
        }


        .gedf-wrapper {
            margin-top: 0.97rem;
        }

        @media (min-width: 992px) {
            .gedf-main {
                padding-left: 4rem;
                padding-right: 4rem;
            }
            .gedf-card {
                margin-bottom: 2.77rem;
            }
        }


        /**Reset Bootstrap*/
        .dropdown-toggle::after {
            content: none;
            display: none;

        }
  
  #left-container {
    height: 90vh;
    overflow: scroll;
  }

</style>

<head>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!------ Include the above in your HEAD tag ---------->
</head>


<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
        crossorigin="anonymous">
        
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
        

<div class="container-fluid gedf-wrapper">
  <div class="row">
    <div id="left-container" class="gedf-main mr-5" style="width: 40rem;">

        <!--- \\\\\\\Post-->
      <div class="card gedf-card">
        <div class="card-header">
          <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
              <li class="nav-item">
                  <a class="nav-link active" id="posts-tab" data-toggle="tab" href="#posts" role="tab" aria-controls="posts" aria-selected="true">Make a Post</a>
              </li>
          </ul>
        </div>
        <div class="card-body">
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="posts" role="tabpanel" aria-labelledby="posts-tab">
              <div style="width: auto;" class="form-group">
                <form id="post-form" class="mt-1" method="POST">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <div class="d-grid 2">
                        <button class="btn btn-success mt-1 mb-1">Submit</button>
                    </div>
                    <input type="hidden" name="next" value="{{next}}">
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>


        <!-- Post /////-->

      <!--- \\\\\\\Post-->
      {% if feed.count > 10 %}
      <nav aria-label="Page navigation example">
          <ul class="pagination mt-3">
            <li class="page-item"><a class="page-link" href="{% url 'home' %}?page=1">First</a></li>
            {% if feed.has_previous %}
            <li class="page-item"><a class="page-link" href="{% url 'home' %}?page={{ feed.previous_page_number }}">Previous</a></li>
            {% else %}
            <li class="page-item"><a class="page-link" href="{% url 'home' %}?page=1">Previous</a></li>
            {% endif %}
            <li class="page-item disabled"><a class="page-link" href="#">{{feed.number}} of {{last_page}}</a></li>
            {% if feed.has_next %}
            <li class="page-item"><a class="page-link" href="{% url 'home' %}?page={{ feed.next_page_number }}">Next</a></li>
            {% else %}
            <li class="page-item"><a class="page-link" href="{% url 'home' %}?page={{ last_page }}">Next</a></li>
            {% endif %}
            <li class="page-item"><a class="page-link" href="{% url 'home' %}?page={{ last_page }}">Last</a></li>
          </ul>
      </nav>
      {% endif %} 

      {% for post in all %}
      {% if not post.pinned %}
      <div class="card gedf-card">                 

        <div class="card-header">
            <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="mr-2">
                      <a href="{% url 'profile' post.author.pk %}"><img class="rounded-circle" width="45" height="45" src="{{ post.author.profile.picture.url  }}"></a>

                    </div>
                    <div class="ml-2">
                        <div class="h5 m-0"><a href="{% url 'profile' post.author.pk %}">@{{ post.author }}</a> {{ post.created_on }}
                    </div>
                        <div class="h7 text-muted">{{ post.author.profile.teamname }}</div>
                    </div>
                </div>
            </div>

        </div>
        <div class="card-body">
          <a class="card-link" href="{% url 'post-detail' post.pk %}">
              <h5 class="card-title">{{ post.title }}</h5>
          </a>

          <a style="text-decoration: none; color: black;" href="{% url 'post-detail' post.pk %}"><p class="card-text mb-5">{{ post.body | truncatechars:400 }}</p></a>
        </div>
        <div class="card-footer socials">
          <div class="socials">
            <form style="display: inline;" method="POST" action="{% url 'like' post.pk %}">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ request.path }}">
                <button id="action-button" type="submit">
                    <p style="display: inline-block; color: lightgray;"><i class="far fa-thumbs-up"></i> {{ post.likes.all.count }}</p>
                </button>
            </form>

            <form style="display: inline; text-decoration: none;" method="POST" action="{% url 'dislike' post.pk %}">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ request.path }}">
                <button id="action-button" type="submit">
                    <p style="display: inline-block; color: lightgray;"><i class="far fa-thumbs-down"></i> {{ post.dislikes.all.count }}</p>
                </button>
            </form>

            <a style="display: inline; margin-left: 3px;" href="{% url 'post-detail' post.pk %}"><i class="fa fa-comments-o"></i></a>


            {% if user.is_superuser %}
            <form style="display: inline;" method="POST" action="{% url 'post-pin' post.pk %}">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ request.path }}">
                <button id="action-button" type="submit">
                    <i class="fa-solid fa-thumbtack"></i>
                </button>
            </form>
            {% endif %}
          </div>
        </div>
      </div>
      {% endif %}
      {% endfor %}

      {% if feed.count > 10 %}
      <nav aria-label="Page navigation example">
          <ul class="pagination mt-3">
            <li class="page-item"><a class="page-link" href="{% url 'home' %}?page=1">First</a></li>
            {% if feed.has_previous %}
            <li class="page-item"><a class="page-link" href="{% url 'home' %}?page={{ feed.previous_page_number }}">Previous</a></li>
            {% else %}
            <li class="page-item"><a class="page-link" href="{% url 'home' %}?page=1">Previous</a></li>
            {% endif %}
            <li class="page-item disabled"><a class="page-link" href="#">{{feed.number}} of {{last_page}}</a></li>
            {% if feed.has_next %}
            <li class="page-item"><a class="page-link" href="{% url 'home' %}?page={{ feed.next_page_number }}">Next</a></li>
            {% else %}
            <li class="page-item"><a class="page-link" href="{% url 'home' %}?page={{ last_page }}">Next</a></li>
            {% endif %}
            <li class="page-item"><a class="page-link" href="{% url 'home' %}?page={{ last_page }}">Last</a></li>
          </ul>
      </nav>
      {% endif %} 
        <!-- Post /////-->
    </div>
    
    <div>
      <h3 class="">Pinned Posts</h3>
      <ul style="list-style: none;">
        {% for post in all %}
        {% if post.pinned %}
        <li>
          <div class="card gedf-card" style="width: 20rem;">
            <div class="card-body">
                <span><h5><a href="{% url 'profile' post.author.pk %}" style="text-decoration: none;">@{{post.author}}</a></h5><p class="mb-3">{{post.created_on}}</p></span>
                <h5 class="card-title"><a href="{% url 'post-detail' post.pk %}" style="text-decoration: none; color: black">{{post.title}}</a></h5>
                <a href="{% url 'post-detail' post.pk %}" style="text-decoration: none; color: black;"><p class="card-text mb-3">{{post.body | truncatechars:250 }}</p></a>


                <div class="card-footer socials">
                  <div class="socials">
                    <form style="display: inline;" method="POST" action="{% url 'like' post.pk %}">
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ request.path }}">
                        <button id="action-button" type="submit">
                            <p style="display: inline-block; color: lightgray;"><i class="far fa-thumbs-up"></i> {{ post.likes.all.count }}</p>
                        </button>
                    </form>
        
                    <form style="display: inline; text-decoration: none;" method="POST" action="{% url 'dislike' post.pk %}">
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ request.path }}">
                        <button id="action-button" type="submit">
                            <p style="display: inline-block; color: lightgray;"><i class="far fa-thumbs-down"></i> {{ post.dislikes.all.count }}</p>
                        </button>
                    </form>
        
                    <a style="display: inline; margin-left: 3px;" href="{% url 'post-detail' post.pk %}"><i class="fa fa-comments-o"></i></a>
        
        
                    {% if user.is_superuser %}
                    <form style="display: inline;" method="POST" action="{% url 'post-pin' post.pk %}">
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ request.path }}">
                        <button id="action-button" type="submit">
                            <i class="fa-solid fa-thumbtack"></i>
                        </button>
                    </form>
                    {% endif %}
                  </div>
                </div>


            </div>
          </div>
        </li>
        {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
</div>

{% endblock content %}