{% extends 'app/main.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="chat-container">
	<div class="row">
		<div class="col">
			<div class="chatlist">
				<form method="POST" action="{% url 'create-thread' %}">
					{% csrf_token %}
					<h4>Start a new conversation: </h4>
					<select class="filter-selectbox" name="username">
						{% for user in users %}
						{% if not user.is_superuser %}
						{% if not user == request.user %}
						<option value={{user}}>{{user}}</option>
						{% endif %}
						{% endif %}
						{% endfor %}
					</select>
					<input type="submit" value="Start conversation">
				</form>
				<div class="px-0">
					<div class="bg-white">
			  
					  <div class="bg-gray px-4 py-2 bg-light">
						<p class="h5 mb-0 py-1">Chats</p>
					  </div>

					  <div class="messages-box">
						<div class="list-group rounded-0">
						{% for thread in threads.all %}
						  <a class="list-group-item list-group-item-action">
						{% if thread.user == request.user %}
							<div class="media"><img src="{{ thread.receiver.profile.picture.url }}" alt="user" width="50" class="rounded-circle">
						{% else %}
							<div class="media"><img src="{{ thread.user.profile.picture.url }}" alt="user" width="50" class="rounded-circle">
						{% endif %}
							  <div class="media-body ml-4">
								<div class="d-flex align-items-center justify-content-between mb-1">
								  <h6 class="mb-0">
									<form method="GET" action="{% url 'thread' thread.pk%}">
										{% if thread.user == request.user %}
										<button type="submit" class="btn btn secondary">@{{ thread.receiver }}</button>
										{% else %}
										<button type="submit" class="btn btn secondary">@{{ thread.user }}</button>
										{% endif %}
									</form>
								  </h6>
								  <!-- <small class="small font-weight-bold">25 Dec</small> -->
								</div>
								<!-- <p class="font-italic mb-0 text-small">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p> -->
							  </div>
							</div>
						  </a>
						  {% endfor %}
						</div>
					  </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



				<div class="px-0">
					<div class="bg-white">
			  
					  <div class="bg-gray px-4 py-2 bg-light">
						<p class="h5 mb-0 py-1">Chats</p>
					  </div>
			  
					  <div class="messages-box">
						<div class="list-group rounded-0">
							{% for thread in threads.all %}
						  <a class="list-group-item list-group-item-action">
							{% if thread.user == request.user %}
							<div class="media"><img src="{{ thread.receiver.profile.picture.url }}" alt="user" width="50" class="rounded-circle">
							{% else %}
							<div class="media"><img src="{{ thread.user.profile.picture.url }}" alt="user" width="50" class="rounded-circle">
							{% endif %}
							  <div class="media-body ml-4">
								<div class="d-flex align-items-center justify-content-between mb-1">
								  <h6 class="mb-0">
									<form method="GET" action="{% url 'thread' thread.pk%}">
										{% if thread.user == request.user %}
										<button type="submit" class="btn btn secondary">@{{ thread.receiver }}</button>
										{% else %}
										<button type="submit" class="btn btn secondary">@{{ thread.user }}</button>
										{% endif %}
									</form>
								  </h6>
								  <!-- <small class="small font-weight-bold">25 Dec</small> -->
								</div>
								<!-- <p class="font-italic mb-0 text-small">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p> -->
							  </div>
							</div>
						  </a>
						  {% endfor %}
						</div>
					  </div>
					</div>
				  </div>
				<br>
				<br>
			</div>
		</div>
	</div>
	<div class="col-8 px-0">
		<div class="chat-box-scroll px-4 py-5 chat-box bg-white">

  
	  </div>
</div>
		

{% endblock content %}
