
<div class="container gx-0">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid mt-3">
      {% if request.user.is_authenticated %}       
        <div><a class="navbar-brand" href="#"><i class="fas fa-trophy fa-fw" style="margin-right: 10px;"></i>NWOAFFL</a></div>
        <div><a class="navbar-brand" href="#"><i class="fa-solid fa-house-user"></i></a></div>
        <div><a href="#"><img src="#" class="rounded-circle" height="50" width="50"/></a></div>
        <div><a class="navbar-brand" href="#"><i class="fa-solid fa-arrow-right-arrow-left"></i></a></div>
        <div><a class="navbar-brand" href="#"><i class="fa-solid fa-border-all"></i></a></div>
        <div class="nav-item inbox-icon-container"><a href="#" class="inbox-icon"><i class="far fa-paper-plane"></i></a></div>
        {% if user.is_superuser %}
          <div><a class="navbar-brand" href="#"><i class="fa-solid fa-plus"></i></a></div>
        {% endif %}
        <div class="nav-item">#</div>
        <div><a class="navbar-brand" href="#"><i class="fa-solid fa-door-closed"></i></a></div>
      {% else %}
        <div><a class="navbar-brand" href="#"><i class="fas fa-trophy fa-fw" style="margin-right: 10px;"></i>NWOAFFL</a></div>
        <div><a class="navbar-brand" href="#">Sign In</a></div>
      {% endif %}
      </div>
    </div>
  </nav>
</div>