{% extends 'app/main.html' %}
{% load crispy_forms_tags%}
{% block content %}
<style>

  body {
      background-color: #eee;
      
  }
  
  .bdge {
    height: 21px;
    background-color: orange;
    color: #fff;
    font-size: 11px;
    padding: 8px;
    border-radius: 4px;
    line-height: 3px;
  }
  
  .comments {
    text-decoration: underline;
    text-underline-position: under;
    cursor: pointer;
  }
  
  .dot {
    height: 7px;
    width: 7px;
    margin-top: 3px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }
  
  .hit-voting:hover {
    color: blue;
  }
  
  .hit-voting {
    cursor: pointer;
  }
  
</style>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <div class="container mt-5 mb-5">
          <div class="d-flex justify-content-center row">
              <div class="d-flex flex-column col-md-8">
                  <div class="d-flex flex-row align-items-center text-left comment-top p-2 bg-white border-bottom px-4">
                      <div class="profile-image"><img class="rounded-circle" src="{{ post.author.profile.picture.url }}" width="70" height="70"></div>
                      <div class="d-flex flex-column ml-3">
                          <div class="d-flex flex-row post-title">
                            <span class="mr-2"><a style="text-decoration: none;" href="{% url 'profile' post.author.profile.pk %}">@{{ post.author }}</a></span><h5>{{ post.title }}</h5>
                          </div>


                          <div class="ml-3">
                            <form style="display: inline;" method="POST" action="{% url 'like' post.pk %}">
                                {% csrf_token %}
                                <input type="hidden" name="next" value="{{ request.path }}">
                                <button id="action-button" type="submit">
                                    <p style="display: inline-block; color: lightgray;"><i class="far fa-thumbs-up"></i> {{ post.likes.all.count }}</p>
                                </button>
                            </form>
                
                            <form style="display: inline; text-decoration: none;" method="POST" action="{% url 'dislike' post.pk %}">
                                {% csrf_token %}
                                <input type="hidden" name="next" value="{{ request.path }}">
                                <button id="action-button" type="submit">
                                    <p style="display: inline-block; color: lightgray;"><i class="far fa-thumbs-down"></i> {{ post.dislikes.all.count }}</p>
                                </button>
                            </form>
                          </div>



                      </div>
                  </div>


                  
                  <div class="coment-bottom bg-white p-2 px-4">
                      <div class="d-flex flex-row add-comment-section mt-4 mb-4 "><img class="img-fluid img-responsive rounded-circle mr-2" src="{{ request.user.profile.picture.url }}" width="38"></div>
                      <div class="border-bottom">
                        <form method="POST">
                          {% csrf_token %}
                          {{ form | crispy }}
                          <div class="d-grid gap-2">
                              <button class="btn btn-success mt-3 mb-3">Submit</button>
                          </div>
                        </form>  
                      </div>

                      {% for comment in comments %}
                        <div class="commented-section mt-2">
                            <div class="d-flex flex-row align-items-center commented-user">
                                <h5 class="mr-2"><a style="text-decoration: none;" href="{% url 'profile' comment.author.pk %}">@{{ comment.author }}</a></h5><span class="dot mb-1"></span><span class="mb-1 ml-2">{{ post.created_on }}</span></div>
                            <div class="comment-text-sm mb-3"><span>{{ comment.comment }}</span></div>
                        </div>

                        <div class="card-footer socials">
                          <div class="socials"></div>
                        </div>
                      {% endfor %}


                      
                  </div>
      </div>
      </div>
      </div>
      </div>
  
  {% endblock content %}