{% extends 'base/main.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div id="trade-container">
    <div id="continue-negotiations-child">
        <table class="table table-striped table-bordered table-hover">
            <tr><th style="background-color:bisque;">Continue negotiations:</th></tr>
            {% for trade in trades %}
            {% if trade.trader_one == request.user or trade.trader_two == request.user %}
            {% if trade.trade_status != "Completed" and not trade.flagged %}
                <tr>
                    <td>
                        <div class="form-check">
                            <form method="GET" action="{% url 'trade-room' trade.pk %}">
                                <input type="hidden" name="room_pick"/>
                                    <p>{{trade.trade_date}}
                                        <button style="background-color: transparent; border: none; box-shadow: none;">
                                            <i class="fa-solid fa-door-open"></i>
                                        </button>
                                        <div>
                                            <div>
                                                <a class="text-primary" href="{% url 'profile' trade.trader_one.pk %}">@{{trade.trader_one}}</a> sends:
                                            </div>
                                                {% for pick in trade.trader_one_list.all %}
                                            <div>
                                                {{pick.year}} {{pick.round}}.{{pick.pick}}
                                            </div>
                                                {% endfor %}
                                        </div>
                                        <br>
                                        <div>
                                            <div>
                                                <a class="text-primary" href="{% url 'profile' trade.trader_two.pk %}">@{{trade.trader_two}}</a> sends:
                                            </div>
                                                {% for pick in trade.trader_two_list.all %}
                                            <div>
                                                {{pick.year}} {{pick.round}}.{{pick.pick}}
                                            </div>
                                                {% endfor %}
                                        </div>
                                    </p>
                            </form>
                        </div>
                    </td>
                </tr>

            {% endif %}
            {% endif %}
            {% endfor %}
            </tr>
        </table>
    </div>

    <div id="start-negotiations-child">
        <form method="POST" action="{% url 'trade'%}">
            {% csrf_token %}
            <h4>Start a new negotiation: </h4>
            <select class="filter-selectbox" name="partner">
                {% for user in users %}
                {% if not user.is_superuser %}
                {% if not user == request.user %}
                <option value={{user}}>{{user}}</option>
                {% endif %}
                {% endif %}
                {% endfor %}
            </select>
            <input type="submit" value="Start talks">
        </form>


        <br>
        <br>


        <table class="table table-striped table-bordered table-hover">
            <div><h4 style="background-color: lightgreen;"><i class="fa-solid fa-handshake fa fw"></i>All completed trades</h4></div>
            {% for trade in trades %}
            {% if trade.trade_status == "Completed" %}
            
            <tr>
                <td>
                    <div class="form-check">
                        <form method="GET" action="{% url 'trade-room' trade.pk %}">
                            <input type="hidden" name="room_pick"/>
                                <p>
                                    <div>
                                        {{trade.trade_date}}
                                        <button style="background-color: transparent; border: none; box-shadow: none;">
                                            <i class="fa-solid fa-door-open"></i>
                                        </button>
                                    </div>
                                    <div>
                                        <div>
                                            <a class="text-primary" href="{% url 'profile' trade.trader_one.pk %}">@{{trade.trader_one}}</a> sends :
                                        </div>
                                            {% for pick in trade.trader_one_list.all %}
                                        <div>
                                            {{pick.year}} {{pick.round}}.{{pick.pick}}
                                        </div>
                                            {% endfor %}
                                    </div>
                                    <br>
                                    <div>
                                        <div>
                                            <a class="text-primary" href="{% url 'profile' trade.trader_two.pk %}">@{{trade.trader_two}}</a> sends:
                                        </div>
                                            {% for pick in trade.trader_two_list.all %}
                                        <div>
                                            {{pick.year}} {{pick.round}}.{{pick.pick}}
                                        </div>
                                            {% endfor %}
                                    </div>
                                </p>
                        </form>
                    </div>
                </td>
            </tr>
            {% endif %}
            {% endfor %}
            </tr>
        </table>
    </div>

    <div id="completed-trades-child">
        <table class="table table-striped table-bordered table-hover">
            <tr><th style="background-color:lightgreen;">Your completed trades:</th></tr>
            {% for trade in trades %}
            {% if trade.trader_one == request.user or trade.trader_two == request.user %}
            {% if trade.trade_status == "Completed" %}
            
            <tr>
                <td>
                    <div class="form-check">
                        <form method="GET" action="{% url 'trade-room' trade.pk %}">
                            <input type="hidden" name="room_pick"/>
                                <p>{{trade.trade_date}}
                                    <button style="background-color: transparent; border: none; box-shadow: none;">
                                        <i class="fa-solid fa-door-open"></i>
                                    </button>
                                    <div>
                                        <div>
                                            <a class="text-primary" href="{% url 'profile' trade.trader_one.pk %}">@{{trade.trader_one}}</a> sends:
                                        </div>
                                            {% for pick in trade.trader_one_list.all %}
                                        <div>
                                            {{pick.year}} {{pick.round}}.{{pick.pick}}
                                        </div>
                                            {% endfor %}
                                    </div>
                                    <br>
                                    <div>
                                        <div>
                                            <a class="text-primary" href="{% url 'profile' trade.trader_two.pk %}">@{{trade.trader_two}}</a> sends:
                                        </div>
                                            {% for pick in trade.trader_two_list.all %}
                                        <div>
                                            {{pick.year}} {{pick.round}}.{{pick.pick}}
                                        </div>
                                            {% endfor %}
                                    </div>
                                </p>

                        </form>
                    </div>
                </td>
            </tr>
            {% endif %}
            {% endif %}
            {% endfor %}
            </tr>
        </table>

    </div>

</div>


{% endblock content %}